.formulario-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    background: white;
    border-radius: 22px;
    margin: 20px;
    padding: 26px;
}

.formulario-card h2,
.formulario-card h3 {
    grid-column: 1 / -1;
    margin-top: 20px;
    color: #334155;
}

.formulario-card input,
.formulario-card select {
    width: 100%;
}

/*REVISAR*/
input:disabled,
select:disabled {
    background-color: #f1f5f9;
    color: #6b7280;
    cursor: not-allowed;
    opacity: 0.7;
    border: 1px solid #d1d5db;
}
.campo-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.campo-form label {
  font-size: 13px;
  font-weight: 600;
  color: #334155;
}

.campo-form small {
  font-size: 12px;
  color: #64748b;
  line-height: 1.3;
}

.campo-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-foto {
  margin-top: 15px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-foto img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.modal-footer {
 height: fit-content;
}
/*button de guardar formulario*/

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.inventario-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 30px;
    border-bottom: 1px solid #e2e8f0;
    background: #f8fafc;
    flex-shrink: 0;
}

.inventario-steps .step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    min-width: 80px;
    color: #94a3b8;
    z-index: 1;
}

.inventario-steps .step span {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #cbd5e1;
    background: #fff;

    font-size: 14px;
    font-weight: 700;
    color: #94a3b8;

    transition: all 0.2s ease;
}

.inventario-steps .step small {
    font-size: 11px;
    font-weight: 600;
    color: #94a3b8;
    white-space: nowrap;
}

/* Pasos activos y completados */
.inventario-steps .step.active span {
    background: #171a4d;
    border-color: #171a4d;
    color: #fff;
}

.inventario-steps .step.active small {
    color: #171a4d;
}

/* Línea entre pasos */
.inventario-steps .step:not(:last-child)::after {
    content: "";
    position: absolute;

    top: 17px;
    left: calc(50% + 25px);
    width: calc(100% + 20px);

    height: 2px;
    background: #cbd5e1;

    z-index: -1;
}

/* Línea completada */
.inventario-steps .step.active:not(:last-child)::after {
    background: #171a4d;
}